
.box{
    background-color: red;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 5px 4px 10px 2px black;
    border-radius: 0.4rem;
}

.boxpadre{
    width: 80vw;
    height: 50vh;
    position: relative;
    background-color: black;
}

.box2{
    background-color: blue;
    position: absolute;
    z-index: 10;
}
.box3{
    background-color: rgb(223, 150, 16);
    position: absolute;
    left: 10%;
    z-index: 5;
}